/basetrials/*
/lib/**.exe
/lib/RES*
/lib/MANLOG
/logistics
/norway/*
/pslope*
/references/**.pdf
/SC66aRMPX-IWC15/input/*
/SC66aRMPX-IWC15/lib/*
/SC66aRMPX-IWC15/results/*
/test/input
/test/lib
/test/results
**.docx
**.exe
**.csv
